{% extends "app/layout.html" %}

{% block content %}

<h3>{{ title }}</h3>
<br />
<br />
<p>
Our Motivation
The events business is a free to enter market with very few barriers hence many Zimbabweans 
have built income generating projects around "Events" and this is mainly due to the affordability 
or easy access of the tools needed to run such businesses. Most of these tend to be SMEs, sole traders
or as we have come to accept due to the economical difficulties facing the country, informal traders. 
The problem they face is they cannot market themselves effectively to get their pieces of the events industry 
pie.
</p>
<p>
On the other side of the coin planning an event has become a stressful and time consuming exercise for 
the average Zimbabwean who cannot afford a Planner, besides that for those who can it has also become costly 
with fees in the region of $600. Planning an event has a great opportunity cost, the time and money used, 
we feel should be allocated to more fulfilling ends.
</p>
<p>
Our goal as EventConnect is to solve these problems by offering a web and mobile events platform to market 
the businesses (for a fee) and for customers to freely and easily access information about their services. 
This is the golden era of technology and we have to harness its full power.
</p>
<br />
<h4>Unique Selling Proposition</h4>
<p>
EventConnect provides a singular platform to search for most of your needs in relation to event planning enabling a 
    better user experience hence attracting a greater market for events businesses.
</p>

{% endblock %}
