{% extends "app/layout.html" %}


{% block content %}

<div class="row">
    <div class="col-md-6">
<h3>{{ title }}.</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
    </div>

<div class="col-md-6">
        <h3>Send us an email:</h3>
        <br />
        {% load crispy_forms_tags %}
        {% crispy contact_form contact_form.helper %}
         <form action="{% url 'contact' %}" method=post>
          {% csrf_token %}
          {{ form }}
             <input class="button button-small" type="submit" name="sendemail" id="sendemail" value="Send Email" />
          </form>
    </div>
</div>

{% endblock %}
